<link href="__PUBLIC__/assets/plugins/color-picker/bootstrap-colorpicker.min.css" rel="stylesheet">


<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#program" data-toggle="tab">基础配置</a></li>
            <li><a href="#other" data-toggle="tab">规则设置</a></li>


        </ul>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade in active " id="program">
                 {include file="general/config/other" /}
            </div>

            <div class="tab-pane fade in  " id="other">
                {include file="general/config/rule" /}
            </div>







        </div>
    </div>
</div>

