<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_id" data-rule="required" data-source="order/index" class="form-control selectpage" name="row[order_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-money" data-rule="required" class="form-control" step="0.01" name="row[money]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('In_order_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-in_order_id" data-rule="required" data-source="in/order/index" class="form-control selectpage" name="row[in_order_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" data-rule="required" class="form-control" name="row[uid]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Out_order_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-out_order_id" data-rule="required" data-source="out/order/index" class="form-control selectpage" name="row[out_order_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bid" data-rule="required" class="form-control" name="row[bid]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[pay_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Receipt_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-receipt_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[receipt_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_status" class="form-control" name="row[pay_status]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="50" name="row[image]" type="textarea">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_check')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_check" class="form-control" name="row[is_check]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Complaint_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-complaint_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[complaint_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Complaint_describe_buy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-complaint_describe_buy" class="form-control " rows="5" name="row[complaint_describe_buy]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Complaint_time_buy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-complaint_time_buy" class="form-control" name="row[complaint_time_buy]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Complaint_buy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-complaint_buy" class="form-control" name="row[complaint_buy]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Complaint_describe_sell')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-complaint_describe_sell" class="form-control " rows="5" name="row[complaint_describe_sell]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Complaint_time_sell')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-complaint_time_sell" class="form-control" name="row[complaint_time_sell]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Complaint_sell')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-complaint_sell" class="form-control" name="row[complaint_sell]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Source')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-source" class="form-control" name="row[source]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Grow_day')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-grow_day" class="form-control" name="row[grow_day]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Have_pay_day')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-have_pay_day" class="form-control" name="row[have_pay_day]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gains')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gains" class="form-control" step="0.01" name="row[gains]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Income')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-income" class="form-control" step="0.01" name="row[income]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wia')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wia" class="form-control" step="0.01" name="row[wia]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Doge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-doge" class="form-control" step="0.01" name="row[doge]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Grow_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-grow_status" class="form-control" name="row[grow_status]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dog_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dog_id" data-rule="required" data-source="dog/index" class="form-control selectpage" name="row[dog_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('End_grow_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_grow_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[end_grow_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bonus_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bonus_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[bonus_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
